{namespace aw=Ferenckrausz\Attoworld\ViewHelpers}
<div id="maincontent">

    <div class="show-filters">
        <button class="button">Filter Topics</button>
        <p><f:translate key="show_filters"/></p>
    </div>
    <div class="filters">
        <div class="ui-group">
            <div class="button-group js-radio-button-group" data-filter-group="color">
                <button class="button is-checked" data-filter="">Alle</button>
                <button class="button" data-filter=".yellow">News</button>
                <button class="button" data-filter=".blue">Jobs</button>
                <button class="button" data-filter=".red">Publikationen</button>
            </div>
        </div>
    </div>

    <div class="grid">
        <div class="color-shape big square red"><div></div></div>
        <div class="color-shape small square blue"><div></div></div>
        <div class="color-shape tall square yellow"><div></div></div>
        <div class="color-shape small square red"><div></div></div>
        <div class="color-shape small square blue"><div></div></div>
        <div class="color-shape tall square yellow"><div></div></div>
        <div class="color-shape small square red"><div></div></div>
        <div class="color-shape small square blue"><div></div></div>
        <div class="color-shape small square yellow"><div></div></div>
        <div class="color-shape small square red"><div></div></div>
    </div>
    
    <div class="show-more-button">
        <button>Show More</button>
    </div>
</div>