<div class="plugin-picturewithscrolldown">

    <!-- <f:image class="mainPicture" src="/fileadmin/user_upload/tx_attoworld/{settings.image}" alt="{settings.image}" width="{settings.width}c" height="{settings.height}c"/> -->
    
    <!-- <img src="/fileadmin/user_upload/tx_attoworld/{settings.image}" alt="{settings.image}" width="1920c" height="711c"/> -->
    
    <div class="header-line">
        <!-- <img src="/fileadmin/user_upload/tx_attoworld/Blutko__rperchenDL_01.jpg"> -->
        
        <f:image class="mainPicture" src="/fileadmin/user_upload/tx_attoworld/{settings.image}" alt="{settings.image}" width="{settings.width}c" height="{settings.height}c"/>
        <div class="scroll-down">
            <!--<div class="description-text">scroll to continue</div>-->
            <img src="/typo3conf/ext/attoworld/Resources/Public/images/slideshow-left.svg"/>
        </div>
    </div>
    
</div>