<div class="plugin-progressreports layout-{f:if(condition:'{settings.type}',then:'{settings.type}',else:'0')}">
    
    <div class="center">
      <h2 id="cs3">Progress reports</h2>
      <div class="text italic">Do you want to learn more about the Laboratory for Attosecond Physics (LAP), its innovations, and scientific progress? Then, take a look at our latest progress reports.</div>
      
      <ul class="progress-reports">
        <li class="clearfix hoverText">
          <div class="progress-reports-content">
            <div class="picture">
              <img src="/fileadmin/user_upload/tx_attoworld/about/progressreport-1.jpg">
            </div>
            <div class="content">
              <div class="title">
                Progress report 2014 — 2016
              </div>
              <div class="link">
                <a href="/fileadmin/progressreports/progressReport_2014_2016.pdf" target="_blank">
                  <img src="/typo3conf/ext/attoworld/Resources/Public/images/pdf_logo.svg">
                </a>
              </div>
            </div>
          </div>
        </li>
        <li class="clearfix hoverText">
          <div class="progress-reports-content">
            <div class="picture">
              <img src="/fileadmin/user_upload/tx_attoworld/about/progressreport-2.jpg">
            </div>
            <div class="content">
              <div class="title">
                Progress report 2011 — 2013
              </div>
              <div class="link">
                <a href="/fileadmin/progressreports/progressReport_2011_2013.pdf" target="_blank">
                  <img src="/typo3conf/ext/attoworld/Resources/Public/images/pdf_logo.svg">
                </a>
              </div>
            </div>
          </div>
        </li>
        <li class="clearfix hoverText">
          <div class="progress-reports-content">
            <div class="picture">
              <img src="/fileadmin/user_upload/tx_attoworld/about/progressreport-3.jpg">
            </div>
            <div class="content">
              <div class="title">
                Progress report 2009 — 2010
              </div>
              <div class="link">
                <a href="/fileadmin/progressreports/progressReport_2009_2010.pdf" target="_blank">
                  <img src="/typo3conf/ext/attoworld/Resources/Public/images/pdf_logo.svg">
                </a>
              </div>
            </div>
          </div>
        </li>
        <li class="clearfix hoverText">
          <div class="progress-reports-content">
            <div class="picture">
              <img src="/fileadmin/user_upload/tx_attoworld/about/Bild4.jpg">
            </div>
            <div class="content">
              <div class="title">
                Progress report 2007 — 2008
              </div>
              <div class="link">
                <a href="/fileadmin/progressreports/progressReport_2007_2008.pdf" target="_blank">
                  <img src="/typo3conf/ext/attoworld/Resources/Public/images/pdf_logo.svg">
                </a>
              </div>
            </div>
          </div>
        </li>
      </ul>
      
      <div class="text large gray small AvenirNextRoundedRegular"><span class="bold">Please note:</span><br>These reports are excerpts from <a href="http://www.mpq.mpg.de/4397248/progress_report" target="_blank">progress reports</a> by Max-Planck-Institute of Quantum Optics (<a href="http://www.mpq.mpg.de/en" target="_blank">MPQ</a>), concerning its Attosecond Physics Division. For the complete documents, please visit the MPQ website.</div>
    
    </div>
    
</div>